
selenium==4.15.0
flask==2.3.3
flask-login==0.6.3
flask-sqlalchemy==3.1.1
apscheduler==3.10.1
beautifulsoup4==4.12.2
python-dotenv==1.0.0
matplotlib==3.8.0
pytesseract==0.3.10
pillow==10.0.1
requests==2.31.0
google-generativeai==0.3.2
undetected-chromedriver==3.5.4
webdriver-manager==4.0.1
gunicorn
